@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

body{
    background: url("https://wp-s.ru/wallpapers/12/13/396795349342275/krasivyj-fon-cvetnye-ugly.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #e4950c #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e4950c;
    border-radius: 12px;
    border: 3px solid #ffffff00;
  }


.nav {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 4px;
    height: 100vh;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18px);
    width: 400px;
    overflow: hidden;
    transition: width 0.8s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.227);
}

.apiShowWrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
}

.button {
    margin: 10px 10px;
    color: white;
    font-size: 25px;
    width: 100%;
    border-radius: 5px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
	
}

.button:hover{
    background-color: #1e00ff2e;
    color: light-blue;
    transition: 0.4s;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    flex-direction: column;
    overflow-y: scroll;
}

.main>*{
    display: block;
}

.wrapper{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

h1{
    text-align: center;
    font-size: 25px;
}
.plankton{
    width: 100%;height: 100%;
}

.tudi{   
    font-size: 25px;
    width: 100%;
    padding: 10;
    border-radius: 5px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0,0);
}


.about{
    width: 90%;
    height: 70%;
    border-radius: 15px;
    border: solid  1px 100%;
    padding: 7px;
    display: flex;
    background: rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    margin: auto;
}

.mainText{
    margin-top: 100px;
    width: 100%;
    font-size: 45px;    
    text-align: center;
}

.start {
    margin: auto auto;
	background-color:#0080db;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 42px;
	padding:6px 24px;
	text-decoration:none;
    width: fit-content;
    padding: 10px;
	text-shadow:0px 1px 0px #854629;
}
.start:hover {
    background-color:#0080db;
}
.start:active {
	position:relative;
	top:1px;
}

/* .transition{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 2;
} */

.mainHEAD{
    margin-top: 100px;
    width: 100%;
    font-size: 45px;    
    text-align: center;
}


[podskazka] {
    position: relative; /* Относительное позиционирование */ 
   }
   [podskazka]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [podskazka]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }

.aboutEngine{
    font-size: 26px;
    margin-left: 25px;
    margin-top: 20px;
}

.aboutWhatDoingEngine{
    font-size: 20px;
    margin-left: 100px;
}

.videos{
    display: flex;
    width: 800px;
    flex-direction: row;
    overflow-x: auto;
    margin: 0 auto;
}

.videos>*{
    margin: 0 auto;
    border-radius: 5px 5px;
}

.photos{
    display: flex;
    width: 800px;
    flex-direction: row;
    overflow-x: auto;
    margin: 0 auto;
}

.photos>img{
    margin: 0 auto;
    border-radius: 5px 5px;
}

.download {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 2px 2px 2px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .download:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


.code{
    margin: 20px;
    margin-left: 20px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 5px;
    width: fit-content;
    color: white;
    text-justify: newspaper;
}


code[class*=language-],pre[class*=language-]{border-radius: 10px; color:#000;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc6b}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;}:not(pre)>code[class*=language-],pre[class*=language-]{background:#ffffff7e; font-size: 24px;}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0, 0%, 100%, 0)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}

